age.agekey
^clustertool.exe
^clustertool*
^clustertool
*clustertool.exe
clustertool.exe
clustertool
sopssecret.yaml
sopssecret*
*sopssecret*
mounts/
.DS_Store
clusters/main/talos/patches/uservolume.yaml
clusters/main/kubernetes/**/bootstrap-values.yaml.ct