talconfig.json
clusterconfig
patches/all.yaml
patches/controlplane.yaml
patches/worker.yaml
patches/uservolume.yaml
*patches/all.yaml
*patches/controlplane.yaml
*patches/worker.yaml
*patches/uservolume.yaml
all.yaml
controlplane.yaml
worker.yaml
*sopssecret.secret.yaml
sopssecret.secret.yaml
clusters/main/kubernetes/**/bootstrap-values.yaml.ct
*kubeconfig
.DS_Store